/* variables */
:root {
  --ery-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --main-margin: 17px;
}

/* variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Cream);
}

.card {
  display: flex;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--White);
}

@media (max-width:599px) {
  .card {
    flex-direction: column;
    width: 90%;
  }
}

.card .card-picture {
  flex-basis: 130%;
}

.card .card-picture .product-mobile {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card .card-picture .product-desktop {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

@media (max-width:599px) {
  .card .card-picture .product-mobile {
    display: block;
  }

  .card .card-picture .product-desktop {
    display: none;
  }

}

@media (min-width:600px) {
  .card .card-picture .product-mobile {
    display: none;
  }

  .card .card-picture .product-desktop {
    display: block;
  }
}

.card .card-info {
  padding: 20px;
}

.card .card-info p:first-child {
  color: var(--Dark-grayish-blue);
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  letter-spacing: 4px;
  font-size: 14px;
  margin-bottom: var(--main-margin);
}

.card .card-info p:last-of-type {
  font-size: 14px;
  line-height: 1.6;
  color: var(--Dark-grayish-blue);
  font-family: 'Montserrat',
    sans-serif;
  margin-top: var(--main-margin);
}

.card .card-info h1 {
  font-weight: bolder;
  font-family: 'Fraunces', sans-serif;
  font-size: 40px;
  margin-bottom: var(--main-margin);
  color: var(--ery-dark-blue);
  line-height: 35px;
}

.card .card-info .price {
  display: flex;
  align-items: center;
  margin-top: var(--main-margin);
}

.card .card-info span:first-of-type {
  color: var(--Dark-cyan);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Fraunces';
}

.card .card-info span:last-of-type {
  text-decoration: line-through;
  margin-left: 12px;
  color: var(--Dark-cyan);
}

.card .card-info .add-to-cart {
  background-color: var(--Dark-cyan);
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  margin-top: var(--main-margin);
}

.card .card-info .add-to-cart p {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;

}